@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700;900&display=swap");

.category a,
.loginmenu a {
    color: #121212;
}

.logo {
    text-decoration: none;
    font-family: "Titillium Web", sans-serif;
    font-weight: 700 !important;
}

.profileicon {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

/* Search input  */
.searchbtn {
    border-radius: 0 40px 40px 0;
    margin-left: -50px;
}
.searchinput {
    border-radius: 40px;
}

/* Breadcumb smaller text */

.breadcrumb-item {
    font-size: 0.8em;
}

/* Product photo on main page */
.card:hover {
    transform: scale(1.05);
    transition: 0.2s ease-in;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

#products img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

#products a {
    text-decoration: none;
    color: #121212;
}

/* FOOTER */

#footer a {
    color: #fafafa;
    display: block;
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
    transition: 0.5s ease-in-out;
}

#footer .socialbottom a {
    display: initial;
}

#footer .socialbottom a:hover {
    text-shadow: 0 0 2px white;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

/* SLIDER */
.carousel-inner img {
    max-height: 50vh;
    width: 100%;
    object-fit: cover;
}

/* Map warning */
.mapwarning {
    font-size: 0.7rem;
}
