@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

/* Primary Color: #0050A0
Second: #12A8E0
Red bright: #E5002B 
Bright Purple A51890
*/

body {
    font-family: "Lato", sans-serif;
    color: #121212;
}

.category a,
.loginmenu a {
    color: #121212;
}

.logo {
    text-decoration: none;
    font-family: "Titillium Web", sans-serif;
    font-weight: 700 !important;
}

.profileicon {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

/* Search input  */
.searchbtn {
    border-radius: 0 40px 40px 0;
    margin-left: -50px;
}
.searchinput {
    border-radius: 40px;
}

/* Breadcumb smaller text */

.breadcrumb-item {
    font-size: 0.8em;
}

/* Product photo on main page */
.card {
    border: none;
}
.card:hover {
    transform: scale(1.05);
    transition: 0.2s ease-in;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.card-body {
    padding: 0.5rem 0.1rem;
}

#products img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

#products a {
    text-decoration: none;
    color: #121212;
}

.card-title,
.card-text,
.card-subtitle {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.875rem;
    font-weight: 700;
}

.card-subtitle {
    font-size: 1rem;
}

.card-text {
    color: #8a8a8a;
    font-size: 0.8rem;
}

/* FOOTER */

#footer a {
    color: #fafafa;
    display: block;
    text-decoration: none;
    font-size: 0.9rem;
}

#footer a:hover {
    text-decoration: underline;
    transition: 0.5s ease-in-out;
}

#footer .socialbottom a {
    display: initial;
}

#footer .socialbottom a:hover {
    text-shadow: 0 0 2px white;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

/* SLIDER */
.carousel-item img {
    object-fit: contain;
    /* width: auto; */
    height: 500px;
}

/* Map warning */
.mapwarning {
    font-size: 0.7rem;
}

/* Sell Profile  */
.checked {
    color: orange;
}

.sellerprofile {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

/* SEARCH SIDEBAR */
#sidesearch .nav-link,
.form-check-label {
    color: #121212;
    font-size: 0.8rem;
}

#sidesearch .subcat {
    margin-left: 1rem;
}

#sidesearch .nav-link.active {
    font-weight: bold;
}

#sidesearch .nav-link:hover {
    text-decoration: underline;
}

.filter-title,
.filter-subtitle {
    font-weight: bold;
}

.filter-subtitle {
    font-size: 0.875rem;
}

/* TEST */
